body {
  background-position: center;
  font-family: Lato;
  color: whitesmoke;
}



.navbar-inverse .navbar-nav > li > a {
  color:white
}

html {
  height:100%;
}
h1 {
  text-align: center;
  font-weight:700;
  font-size:3em;
  animation-duration: 3s;
  animation-name: slidein;
}

p {
  padding: 10px;
  font-size:25px;
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}

#main-content {
  margin-top: 10%;
  text-align: justify;
  animation-duration: 3s;
  animation-name: slidein;
  /* //box-shadow:     5px 5px 5px 6px black; */
}

.thumbnail {
  /* height: 300px; */
  box-shadow:     5px 5px 5px 6px black;
}

.caption {
  font-weight: bold;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color:#334457;
  }
  100% {
    background-color: #204064;
  }
}

span {
  font-weight: bold;
  font-style: italic;
}